table{
    border:3px solid black; 
}
    td,th{ 
        font-size: 25px;
        border:1px solid
      black;      
        padding: 10px;}
 img{
    width: 45%;
    
 }

 table,tr,th{
    width: 25%;
 }



    